
.gradient{
  
    --background: #0097B2 #11009E;
    --color: white;
    --background: linear-gradient(to right, #0097B2, #11009E);
    --border-radius: 20px;
    --padding-top: 25px !important;
    --padding-bottom: 25px !important;
}
.yhidden{
    --offset-bottom: auto!important;
    --overflow: hidden;


}
ion-footer{
    --border-radius:20px;
}
.google{
    --background: white;
    --color: black
}