.leaflet-control-attribution .leaflet-control{
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}
.leaflet-bottom .leaflet-right{
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}